
/** === Layout === */

#page {
	width: 100%;
}

.site-content {
	overflow: hidden;
	p,img,blockquote,form,.wp-block-columns{opacity:0.02;position:relative;top:10px;}
	.wp-block-columns *{opacity:1;
	top:0;}

	.slideup{
	transition: opacity 0.4s, top 0.4s;
	-webkit-transition: opacity 0.4s, top 0.4s;
	opacity:1;
	top:0;

    }
}

