/* Site footer */
#bluebar{width:100%; height: 50px; background:$bright_blue;margin:0;padding:0;}

#colophon {
padding: 30px 0;

	#footerlogo{height:150px; width: 150px; margin: 0 auto; display:block; background-image:url(img/whitewaterlogo.svg); background-position: center center; background-size: contain; background-repeat: no-repeat;}

.onethird{width:33%; float:left; margin: 0 0;}
.twothirds{width:66%; float:left; margin: 0 0;}

.widget-area{margin-top:0;}

	.widget-area,
	.site-info {
		margin: 0 auto;
		max-width:100%;
		width:1100px;
		@include media(tablet) {

		max-width:100%;
			margin: 0 auto;
		}
	#footerleft,#footermiddle,#footerright{width:33%;float:left;
	p{color:$light_blue; font-size:20px; line-height:25px; text-align:center;}
	}

		@media(max-width:790px){
	#footerleft,#footermiddle,#footerright{width:80%; float:none; margin: 0 auto;}
	}

	}

	.widget-column {
		display: flex;
		flex-wrap: wrap;
		.widget {
			width: 100%;
		}
	}

	.site-info {
		color: $color__text-light;

		a {
			color: inherit;

			&:hover {
				text-decoration: none;
				color: $color__link;
			}
		}

		.imprint,
		.privacy-policy-link {
			margin-right: $size__spacing-unit;
		}
	}
}