// Site header

.site-header {
	padding: 0;
	background-color:$dark_blue;
	&.featured-image {

		background-color:#fff;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.site-branding-container {
			margin-bottom: auto;
			background: -moz-linear-gradient(top, rgba(0,43,85,1) 0%, rgba(0,43,85,1) 30%, rgba(0,43,85,0.7) 75%, rgba(0,43,85,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(0,43,85,1) 0%,rgba(0,43,85,1) 30%,rgba(0,43,85,0.7) 75%,rgba(0,43,85,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(0,43,85,1) 0%,rgba(0,43,85,1) 30%,rgba(0,43,85,0.7) 75%,rgba(0,43,85,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002b55', endColorstr='#00002b55',GradientType=0 ); /* IE6-9 */
			z-index:999;
		}
	}

	@include media(tablet) {
		margin: 0;
		padding: 0;

		&.featured-image {
		}
	}
}

// Site branding

.site-branding {
	padding-top:50px;
	color: $color__text-light;
	position: relative;

	@include media(tablet) {
		margin: 0 auto;
		width:80%;
	}
}

// Site logo

.site-logo {

	position: relative;
	z-index: 999;
	margin-bottom: calc(.66 * #{$size__spacing-unit});

	@include media(tablet) {
		margin-bottom: 0;
		position: absolute;
		right: calc(100% + (1.25 * #{$size__spacing-unit}));
		top: 4px; // Accounts for box-shadow widths
		z-index: 999;
	}

	.custom-logo-link {
		border-radius: 100%;
		box-sizing: content-box;
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		display: block;
		width: 50px;
		height: 50px;
		overflow: hidden;
		transition: box-shadow $background_transition ease-in-out;

		.custom-logo {
			min-height: inherit;
		}

		&:hover,
		&:active,
		&:focus {
			box-shadow: 0 0 0 2px rgba(0, 0, 0, 1);
		}

		@include media(tablet) {
			width: 64px;
			height: 64px;
		}
	}
}

// Site title

.site-title {
background-image:url(img/whitewaterlogo.svg);
background-repeat:no-repeat;
background-position: center center;
display:block;
width:200px;
height: 200px;
margin: 0 auto;
 	a{width:100%; height: 100%; display:block; text-indent: -9000px;}
}

// Site description

.site-description {

	display: inline;
	color: $color__text-light;
	font-weight: normal;
	margin: 0;
}

.site-header.featured-image .site-featured-image{padding-top:200px;}
.site-header.featured-image .site-featured-image .entry-header,.entry-header{
			margin:0;
			margin-left:0 !important;
			margin-right:0 !important;
		width:100% !important;
		height: auto;
		padding: 20px;
		text-align:center;
		background-color:#fff;
		display:block;
		.entry-title{
			margin: 0 auto; 
			color: $lighter_gray; 
			text-transform:uppercase;
			letter-spacing:3px;
			text-shadow:none;
			font-size:35px;
			font-weight: normal;
		}
}
