.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {

	@include button-transition;
	background: $dark_blue;
	border: none;
	border-radius: 0px;
	box-sizing: border-box;
	color: #fff;
	margin: 10px auto; 
	display:block;
	text-align:center; 
	letter-spacing:3px; 
	text-transform:uppercase;
	@include font-family( $font__heading );
	font-size: $font__size-sm;
	font-weight: 700;
	line-height: $font__line-height-heading;
	outline: none;
	padding: ( $size__spacing-unit * .76 ) $size__spacing-unit;
	text-decoration: none;
	vertical-align: bottom;
	width:auto;
	max-width:150px;

	&:hover {
		background: $bright_blue;
		cursor: pointer;
	}

	&:visited {
		color: $dark_blue;
		text-decoration: none;
	}

	&:focus {
		
		outline: none;
		outline-offset: -4px;
	}
}
