/*
Theme Name: RRIG Water
Theme URI: https://github.com/WordPress/rrigwater
Author: the WordPress team
Author URI: https://wordpress.org/
Description: Our 2019 default theme is designed to show off the power of the block editor. It features custom styles for all the default blocks, and is built so that what you see in the editor looks like what you'll see on your website. RRIG Water is designed to be adaptable to a wide range of websites, whether you’re running a photo blog, launching a new business, or supporting a non-profit. Featuring ample whitespace and modern sans-serif headlines paired with classic serif body text, it's built to be beautiful on all screen sizes.
Requires at least: WordPress 4.9.6
Version: 1.3
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: rrigwater
Tags: one-column, flexible-header, accessibility-ready, custom-colors, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, rtl-language-support, sticky-post, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

RRIG Water is based on Underscores https://underscores.me/, (C) 2012-2018 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Variables
# Normalize
# Typography
	## Headings
	## Copy
# Elements
	## Lists
	## Tables
# Forms
	## Buttons
	## Fields
# Navigation
	## Links
	## Menus
	## Next & Previous
# Accessibility
# Alignments
# Clearings
# Layout
# Widgets
# Content
	## Archives
	## Posts and pages
	## Comments
# Blocks
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
@import "sass/variables-site/variables-site";
@import "sass/mixins/mixins-master";

/* Normalize */

@import "sass/normalize";

/* Typography */

@import "sass/typography/typography";

/* Elements */

@import "sass/elements/elements";

/* Forms */

@import "sass/forms/forms";

/* Navigation */

@import "sass/navigation/navigation";

/* Accessibility */

@import "sass/modules/accessibility";

/* Alignments */

@import "sass/modules/alignments";

/* Clearings */

@import "sass/modules/clearings";

/* Layout */

@import "sass/layout/layout";

/* Content */

@import "sass/site/site";

/* Widgets */

@import "sass/site/secondary/widgets";

/* Blocks */

@import "sass/blocks/blocks";

/* Media */

@import "sass/media/media";



.site-menu { font-family: 'Arvo', serif !important; }

.site-header.featured-image .site-featured-image .entry-header .entry-title, .entry-header .entry-title { color: #777 !important; font-family: 'Arvo', serif !important; font-weight: 700; font-size: 24px; letter-spacing: normal; transition: all 4s; }

.entry-content-intro { color: #fff; font-family: 'Arvo', serif !important; font-weight: 700; text-transform: uppercase; letter-spacing: 2px; }
.entry-content-intro-copy {padding: 50px 100px 30px 100px;text-align: center;line-height: 32px;}
.circle { width: 200px; height: 200px; border-radius: 50%; transition: all .7s; cursor: pointer; margin-bottom: 20px; }
.circle:hover { width: 225px; height: 225px; }
.iconbox .circle .iconimg { padding: 45px 0; }
.iconbox .circle .circletext { padding: 40px 5px !important; height: auto; margin: auto; font-family: 'Open Sans', sans-serif; font-size: 14px; cursor: pointer; color: #6d6e71;}
.icontitle { font-family: 'Arvo', serif !important; font-weight: 700; text-transform: uppercase; font-size: 21px !important; letter-spacing: 2px; }
.mainimg-copy { text-align: center; font-family: 'Arvo', serif !important; font-size: 22px !important; }
.questionfooter { width:100%; clear: both; text-align:center; padding: 0 0 40px 0; font-size:18px; color:#fff; font-family: 'Arvo', serif !important; line-height: 34px; letter-spacing: 1px; font-weight: bold; }
.footermiddle { font-family: 'Open Sans', sans-serif !important; }
#colophon .widget-area #footerleft, #colophon .widget-area #footermiddle, #colophon .widget-area #footerright, #colophon .site-info #footerleft, #colophon .site-info #footermiddle, #colophon .site-info #footerright { font-family: 'Open Sans', sans-serif !important; color: #7e8ba8; }
#colophon .widget-area #footerleft p, #colophon .widget-area #footermiddle p, #colophon .widget-area #footerright p, #colophon .site-info #footerleft p, #colophon .site-info #footermiddle p, #colophon .site-info #footerright p { font-size: 16px; line-height: 24px; }

.entry .entry-content .wp-block-quote:not(.is-large), .entry .entry-content .wp-block-quote:not(.is-style-large) { width: 100%; padding: 0; background: url('img/graywaves.png') center center; background-size: cover; }
blockquote { font-family: 'Arvo', serif !important; }
.entry .entry-content .wp-block-quote p { padding: 100px 20px; line-height: 38px; }
h2 { font-family: 'Arvo', serif !important; color: #fff; font-size: 41px; margin: 0; font-weight: normal !important; }
h4 { font-family: 'Open Sans', sans-serif !important; margin: 15px 0 10px 0; }
h3 { font-family: 'Arvo', serif !important; color: #fff; font-size: 21px; margin: 33px 0 5px 0; font-weight: bold !important; }
h5 { font-family: 'Open Sans', sans-serif !important; color: #fff; font-weight: normal; margin: 0; }
.opennormal { font-family: 'Open Sans', sans-serif !important; font-weight: normal !important; }

/*.entry .entry-content .wp-block-columns.founderblock img { border-right: 2px solid #a8b9ca; } */
.entry .entry-content .wp-block-columns.founderblock { background: #3b78ac; }
.entry .entry-content .wp-block-columns.founderblocka { background: #6d6e71; }
form .twothirdscentered { background: #ebedf0 !important; border: 0; font-family: 'Open Sans', sans-serif !important; font-weight: bold !important; font-size: 14px; padding: 12px 0; }
input[type="submit"] { width: auto !important; font-family: 'Open Sans', sans-serif !important; font-size: 16px; padding: 12px 30px; margin-top: 40px; }
.formfooter { font-family: 'Open Sans', sans-serif !important; font-size: 19px; text-align: center; line-height: 24px;}

.formfooter strong { display: block; margin-bottom: 5px; margin-top: 47px !important;}
.iconscontainer .iconbox:nth-child(1) .circletext { padding-top: 57px !important; }
.iconscontainer .iconbox:nth-child(2) .circletext { padding-top: 47px 0 40px 0 !important }
.iconscontainer .iconbox:nth-child(3) .circletext { padding-top: 70px !important; }
.iconscontainer .iconbox:nth-child(4) .circletext { padding-top: 57px !important; }
.pull-left-100 { margin-left: -100px !important; }
.has-2-columns ul li {
  list-style: none; 
}
.has-2-columns ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #fff; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */ 
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

@media( max-width: 899px) {
	.iconbox { float: none; clear: both; margin: 0 auto 40px auto; }
}
@media( max-width: 780px) {
.pull-left-100 { margin-left: 0px !important; clear: both; }

}
.prospa { margin-top: 50px !important; }
.prosp { margin-top: 100px !important; display: none; }
.prosp .wp-block-column:nth-child(1) { margin-left: 0 !important; }
.prosp .wp-block-column:nth-child(2) { margin-left: -100px !important; }
body { line-height: 1.5em; }

.growup { height: 110% !important; }
.welcomehome { letter-spacing: 7px !important; }

/* navigation */
#site-navigation { transition: all .25s; min-height: 40px; }
.fixedmenu { background: #002a54; position: fixed; top: 0; left: 0; width: 100%; margin-top: 0; padding: 10px 0; }
.fixedmenu .main-menu-more { display: none; }
.off { display: none !important; }